.register-container{
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.register-section{
  background-color: #545454;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.register-title{
  font-size: 1.8em;
  width: 140px;
  text-align: center;
  line-height: 1em;
  color: #FF5757;
}

.register-form{
  padding: 50px;
}

.register-form label p {
  font-size: 0.6em;
  padding: 15px 0px 5px 10px;
  color: white;
}

.register-form input{
  width: 60vw;
  padding: 8px 10px;
  border-radius: 18px;
  border-color: white;
  background-color: #545454;
  color: white;
  outline: none;
}

.register-text{
  color: white;
  padding-top: 30px;
  text-align: center;
}

.register-text a{
  color: #FF5757;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover{
  text-decoration: underline;
}

.register-button{
  display: block;
  margin: auto;
  background-color: #FF5757;
  border: 2px solid white;
  padding: 10px 75px;
  border-radius: 25px;
  margin-top: 30px;
  text-decoration: none;
}

.register-button:hover{
  cursor: pointer;
}

.register-button p{
  color: white;
}




